name: flutter_boilerplate
description: "Flutter Boilerplate"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.0


dependencies:
  flutter:
    sdk: flutter
  
  # CORE PACKAGES
  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.1
  get_it: ^9.0.5
  go_router: ^17.0.0
  shared_preferences: ^2.5.3
  json_annotation: ^4.9.0
  json_serializable: ^6.11.1
  build_runner: ^2.10.3
  bloc: ^9.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/
    - assets/images/
    - assets/fonts/
    - assets/icons/


  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
